<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GROUPE 3</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-4---Product-List.css">
    <link rel="stylesheet" href="assets/css/Canito-nav-Bar.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Footer-with-social-media-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Masonry-gallery-cards-responsive.css">
    <link rel="stylesheet" href="assets/css/PHP-Contact-Form-dark-1.css">
    <link rel="stylesheet" href="assets/css/PHP-Contact-Form-dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="box-shadow: 0px -4px 19px var(--bs-gray-600);height: 82px;">
        <div class="container">
            <div><a href="#" style="font-size: 30PX;font-weight: bold;background: url(&quot;assets/img/téléchargement.png&quot;);width: 200px;height: 200px;"></a></div><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="assets/img/téléchargement.png" style="width: 74px;">
            <div class="collapse navbar-collapse d-xl-flex justify-content-xl-center" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" style="height: 44px;font-size: 20px;" href="#">accueil</a></li>
                    <li class="nav-item"></li>
                </ul><i class="fa fa-search" style="width: 36.8594px;height: 13px;"></i>
                <form class="d-sm-block me-auto" target="_self">
                    <div class="form-group mb-3"><label class="form-label" for="search-field"></label><input class="border rounded form-control search-field" type="search" id="search-field" style="background-color: #eaeaea;" name="search"></div>
                </form><a style="height: 44px;font-size: 20px;padding-top: 7px;margin: 50px;" href="#">Notifications</a><a style="height: 44px;font-size: 20px;padding-top: 7px;" href="#">Notifications</a><a href="#"><i class="fa fa-user" style="font-size: 20px;padding: 53px;"></i></a>
            </div>
        </div>
    </nav><!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row" style="margin-top: -101px;">
            <div class="col-md-6 col-lg-4" style="width: 580px;margin-top: 122px;">
                <h2 style="color: rgb(0,0,0);text-align: center;padding: 34px;">MES PRODUITS</h2><!-- Start: Bootstrap 4 - Product List --><div class="container py-5">

  <div class="row">
    <div class="col-lg-8 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">

        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">$120.00</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
              </div>
            </div><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->

        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">$99.00</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>
              </div>
            </div><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485077/shoes-3_rk25rt.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->

        <!-- list group item -->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">$140.00</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
              </div>
            </div><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-2_g4qame.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->

        <!-- list group item -->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">$220.00</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>
              </div>
            </div><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-4_vgfjy9.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->

      </ul>
      <!-- End -->
    </div>
  </div>
</div>
<!-- End: Bootstrap 4 - Product List -->
            </div>
            <div class="col-md-6 col-lg-4" style="margin-top: 122px;width: 378px;">
                <div>
                    <!-- Start: PHP-Contact Form #dark -->
                    <div id="contact">
                        <!-- Start: PHP-Contact -->
                        <div class="container" style="color: rgb(255,255,255);background: #ffffff;">
                            <!-- Start: intro -->
                            <div class="intro">
                                <h2 style="color: rgb(0,0,0);">AJOUT PRODUIT</h2>
                            </div><!-- End: intro -->
                            <form id="contact-form" action="assets/php/contact.php" method="post">
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mb-3"><label class="form-label" for="form_name" style="color: rgb(0,0,0);">Nom* </label><input class="form-control" type="text" id="form_name" data-error="Vorname erforderlich." name="name" required="" placeholder="Bitte Tragen Sie Ihren Vornamen ein *" style="color: rgb(0,0,0);">
                                                <div class="help-block with-errors" style="color: rgb(0,0,0);"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="color: rgb(0,0,0);">
                                            <div class="form-group mb-3" style="color: rgb(0,0,0);"><label class="form-label" for="form_lastname" style="color: rgb(0,0,0);">Descriptions* </label><input class="form-control" type="text" id="form_lastname" data-error="Nachname erforderlich." name="lastname" required="" placeholder="Bitte Tragen Sie Ihren Nachname ein *" style="color: rgb(0,0,0);">
                                                <div class="help-block with-errors" style="color: rgb(0,0,0);"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="color: rgb(0,0,0);">
                                    <div class="col-md-6" style="color: rgb(0,0,0);">
                                        <div class="form-group mb-3" style="color: rgb(0,0,0);"><label class="form-label" for="form_email" style="color: rgb(0,0,0);">Categorie</label><input class="form-control" type="email" id="form_email" data-error="Vorname erforderlich." name="email" required="" placeholder="Bitte tragen Sie Ihre E-Mail ein *" style="color: rgb(0,0,0);">
                                            <div class="help-block with-errors" style="color: rgb(0,0,0);"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="color: rgb(0,0,0);">
                                        <div class="form-group mb-3" style="color: rgb(0,0,0);"><label class="form-label" for="form_phone" style="color: rgb(0,0,0);">Valeur</label><input class="form-control" type="number" id="form_phone" data-error="Telefonnummer erforderlich" name="phone" placeholder="Bitte tragen Sie Ihre Telefonnummer ein" style="color: rgb(0,0,0);">
                                            <div class="help-block with-errors" style="color: rgb(0,0,0);"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-3"><label class="form-label" for="form_message" style="color: rgb(0,0,0);">Photo* </label><input class="form-control" type="text" id="form_message" data-error="Nachricht erforderlich." rows="4" name="message" required="" placeholder="Hinterlassen Sie uns eine Nachricht *">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12"><button class="btn btn-success btn-send" value="Senden" type="submit">Senden </button></div>
                                </div>
                            </form>
                        </div><!-- End: PHP-Contact -->
                    </div><!-- End: PHP-Contact Form #dark -->
                </div><!-- Start: Footer with social media icons -->
                <footer id="footerpad">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-8 mx-auto">
                                <ul class="list-inline text-center">
                                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                                </ul>
                                <p class="copyright text-muted text-center">Copyright ©GROUPE 2023</p>
                            </div>
                        </div>
                    </div>
                </footer><!-- End: Footer with social media icons -->
            </div>
        </div>
    </div><!-- End: 1 Row 2 Columns -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark-1.js"></script>
    <script src="assets/js/PHP-Contact-Form-dark.js"></script>
</body>

</html>